* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Variables*/
:root 
{--lav-light: #f2deff;
--lav: #D99090 ;}
/* Tipografía general */
body 
{font-family: raleway;
}

.header {
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}

.bigicon {
  font-size: 35px;
  color: #36A0FF;
}
 /* MAIN INDEX */
 .video-y-texto {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.video-y-texto p {
  width: 600px;
}

.pColor {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
 
  font-size: 30px;
  align-items: center;
}


/* DERECHOS DE AUTOR */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
}

}
.cerdo {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
}
.pollo {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
}
.sanguche {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
}
.raviolones {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
}
.picada {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
}
.chop {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
}
.contactos {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
}
.truco {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  font-family: "Roboto", sans-serif;
  text-align: center;

}
.trucoUno {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
.trucoTres {
  padding: 10px 30px;
  margin: 10px 40px;

  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bolder;
  background-color: #ad5252;
  border: 2px solid black;
  opacity: 0.9;
}
h1 {
  text-align: center;
  font-size: 45px;
}
h2 {
  
}
.sobreMi {
  background-color: #f0e2e2;
  padding: 10px 30px;
  margin: 10px 40px;
  border: 2px solid black;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}
.sobremi2 img {
  width: 360px;
  height: 450px;
  top: 30px;
  left: 40px;
  margin: 5px;
  padding: 5px;
}
.yo {
  text-align: center;
}
.logo :hoover{
  transform: scale(1.2);
}

/* Footer */
footer {width: 100%;
  background: var(--lav);
  height: 100px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.anchoFooter {margin-top: 30px;
}
.redes 
{display: inline-block;
}
.bi-facebook {font-size: 30px;text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}
.bi-facebook:hover
{color: #ED8B8B ;
}
.bi-whatsapp 
{
  font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px
  ;color: #fff;
}
.bi-whatsapp:hover
{color: #25d366;
}.bi-instagram
{font-size: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  color: #fff;
}
.bi-instagram:hover
{color: #ED8B8B ;
}
/* transformaciones */
.container-fluidd {
overflow:auto ;

}
